@import "tailwindcss";

.mainpanel {
  width: 100vw;
  height: 100vh;
  display: flex;
}
.maincontainer {
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  flex-direction: column;
}