@import url('https://fonts.googleapis.com/css2?family=Alata&family=VT323&display=swap');
@import "tailwindcss";

@theme {
  --font-display: "Alata", sans-serif;
  --font-sans: var(--font-display);
  --color-primary: #1b2130;
  --color-secondary: #ffdd00;
  --color-bg: rgb(248, 248, 248);
  --color-text-color: #5f5f79;
  --color-bg-sec: #ffffff;
  --color-input: #0a0a1a;
}

@utility mainpanel {
  display: flex;
  width: 100vw;
  height: 100vh;
}
@utility maincontainer {
  flex-direction: column;
  justify-content: center;
  background-color: var(--color-bg);
}